/* line 38, input folder/homeworkStyles.scss */
body header div#header-container:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 42, input folder/homeworkStyles.scss */
body header nav:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 46, input folder/homeworkStyles.scss */
body header nav ul:after, body header nav ul li ul.sub-nav-list:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 49, input folder/homeworkStyles.scss */
body section:after, body aside:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

/* line 53, input folder/homeworkStyles.scss */
.clearfix:before {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

/* line 59, input folder/homeworkStyles.scss */
body header div#header-container:before {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 63, input folder/homeworkStyles.scss */
body header nav:before {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 67, input folder/homeworkStyles.scss */
body header nav ul:before, body header nav ul li ul.sub-nav-list:before {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 70, input folder/homeworkStyles.scss */
body section:before, body aside:before {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

/* line 74, input folder/homeworkStyles.scss */
.clearfix:after {
  clear: both;
}

/* line 77, input folder/homeworkStyles.scss */
body {
  margin: 0;
  padding: 0;
  border: 0;
}
/* line 79, input folder/homeworkStyles.scss */
body header div#header-container:after {
  clear: both;
}
/* line 82, input folder/homeworkStyles.scss */
body header nav:after {
  clear: both;
}
/* line 85, input folder/homeworkStyles.scss */
body header nav ul:after, body header nav ul li ul.sub-nav-list:after {
  clear: both;
}
/* line 87, input folder/homeworkStyles.scss */
body section:after, body aside:after {
  clear: both;
}

/* line 93, input folder/homeworkStyles.scss */
header, section, footer, article, h1, h2, h3, h4, h5, h6, input, button, label, p, fieldset, nav, ul, li, a, span, strong, em {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 98, input folder/homeworkStyles.scss */
div, h1, h3, h4, h5, h6, header, footer, body, section, nav, article, aside {
  display: block;
}

/* line 101, input folder/homeworkStyles.scss */
body {
  background: -webkit-linear-gradient(bottom, #9215f2 80%, #901cef 15%, #ca96f1);
  background: -moz-linear-gradient(bottom, #9215f2 80%, #901cef 15%, #ca96f1);
  background: -o-linear-gradient(bottom, #9215f2 80%, #901cef 15%, #ca96f1);
  background: linear-gradient(bottom, #9215f2 80%, #901cef 15%, #ca96f1);
  color: white;
  font: 14px normal Arial;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* line 109, input folder/homeworkStyles.scss */
a {
  color: #d0a3f7;
}

/* line 113, input folder/homeworkStyles.scss */
body header {
  padding-top: 25px;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
}
/* line 119, input folder/homeworkStyles.scss */
body header div#header-container div#logo-container {
  float: left;
  position: relative;
}
/* line 122, input folder/homeworkStyles.scss */
body header div#header-container div#reg-form-container {
  float: right;
  position: relative;
  right: 5%;
  top: 50%;
}
/* line 127, input folder/homeworkStyles.scss */
body header div#header-container div#reg-form-container div {
  text-align: right;
}
/* line 129, input folder/homeworkStyles.scss */
body header div#header-container div#reg-form-container div label {
  width: 50px;
  margin: 5px;
}
/* line 132, input folder/homeworkStyles.scss */
body header div#header-container div#reg-form-container div input {
  width: 130px;
  border: 1px solid #603382;
  border-radius: 10px;
  padding: 2px 5px;
  margin: 5px;
  background: #b35ef3;
}
/* line 139, input folder/homeworkStyles.scss */
body header div#header-container div#reg-form-container button {
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  border: 1px solid #603382;
  border-style: outset;
  border-radius: 10px;
  padding: 5px 8px;
  background: transparent;
  color: white;
}
/* line 149, input folder/homeworkStyles.scss */
body header div#header-container div#reg-form-container button:hover {
  background-color: #8949b9;
  border-style: inset;
}
/* line 152, input folder/homeworkStyles.scss */
body header nav {
  display: inline-block;
  width: 75%;
  margin: 20px 20px 20px 20px;
  padding: 12px;
  border: 2px solid black;
  border-radius: 15px;
}
/* line 160, input folder/homeworkStyles.scss */
body header nav ul.nav-list {
  list-style-type: none;
}
/* line 162, input folder/homeworkStyles.scss */
body header nav ul li {
  float: left;
  margin: 0;
}
/* line 165, input folder/homeworkStyles.scss */
body header nav ul li a {
  text-decoration: none;
  padding: 0 10px 0 10px;
  color: white;
  font: 1.4em normal Arial;
}
/* line 170, input folder/homeworkStyles.scss */
body header nav ul li a.selected {
  font-weight: bold;
}
/* line 172, input folder/homeworkStyles.scss */
body header nav ul li:hover > a {
  text-decoration: underline;
  color: #a8a8a8;
}
/* line 175, input folder/homeworkStyles.scss */
body header nav ul li:hover > a + ul {
  display: block;
}
/* line 178, input folder/homeworkStyles.scss */
body header nav ul li ul.sub-nav-list {
  position: absolute;
  display: none;
  background-color: rgba(179, 94, 243, 0.9);
  border-radius: 5px;
}
/* line 183, input folder/homeworkStyles.scss */
body header nav ul li ul li {
  float: none;
  margin: 0 15px;
  padding: 10px 0;
  border-bottom: 1px solid #603382;
}
/* line 188, input folder/homeworkStyles.scss */
body header nav ul li ul li:last-of-type {
  border-bottom: none;
}
/* line 190, input folder/homeworkStyles.scss */
body header nav ul li ul li > a {
  font-size: 1.2em;
  color: #fff;
}
/* line 193, input folder/homeworkStyles.scss */
body section {
  width: 75%;
  float: left;
  color: inherit;
}
/* line 197, input folder/homeworkStyles.scss */
body section article {
  margin: 20px;
  padding: 20px;
  border: 1px solid #603382;
  border-radius: 15px;
}
/* line 202, input folder/homeworkStyles.scss */
body section article header {
  background: none;
  padding: 5px;
}
/* line 205, input folder/homeworkStyles.scss */
body section article header h1 {
  font-size: 1.4em;
  padding: 0;
}
/* line 208, input folder/homeworkStyles.scss */
body section article footer {
  padding: 5px;
}
/* line 210, input folder/homeworkStyles.scss */
body section article footer p {
  font-size: 16px;
  text-align: right;
  font-weight: normal;
}
/* line 214, input folder/homeworkStyles.scss */
body section article footer p time {
  font-family: Consolas, 'Lucida Console', 'DejaVu Sans Mono', monospace;
}
/* line 216, input folder/homeworkStyles.scss */
body section article footer p a {
  text-decoration: none;
}
/* line 218, input folder/homeworkStyles.scss */
body section article footer p a:hover {
  text-decoration: underline;
}
/* line 220, input folder/homeworkStyles.scss */
body aside {
  float: left;
  width: 20%;
  margin: 20px;
}
/* line 224, input folder/homeworkStyles.scss */
body aside > ul {
  list-style-type: none;
}
/* line 226, input folder/homeworkStyles.scss */
body aside > ul > li {
  margin: 15px 0;
  padding: 15px;
  border: 1px solid #603382;
  border-radius: 5px;
}
/* line 231, input folder/homeworkStyles.scss */
body aside > ul > li h2 {
  font-size: 1.1em;
  font-weight: bold;
}
/* line 234, input folder/homeworkStyles.scss */
body aside > ul > li p {
  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
  font-size: 14px;
}
/* line 240, input folder/homeworkStyles.scss */
body aside > ul > li p a {
  color: #aaaaaa;
  text-decoration: none;
}
/* line 243, input folder/homeworkStyles.scss */
body aside > ul > li p strong {
  color: #cccccc;
  font-weight: bold;
  font-style: normal;
}
/* line 247, input folder/homeworkStyles.scss */
body aside > ul > li p em {
  color: #cccccc;
  font-weight: normal;
  font-style: italic;
}
/* line 251, input folder/homeworkStyles.scss */
body aside > ul > li ul {
  list-style-type: none;
  margin-top: 10px;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0px;
}
/* line 257, input folder/homeworkStyles.scss */
body aside > ul > li ul li {
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 0px;
  margin-right: 0px;
  background-image: url(images/li-dot.png) no-repeat;
  background-position: 0 50%;
  padding-left: 25px;
}
/* line 265, input folder/homeworkStyles.scss */
body footer {
  clear: both;
  padding-top: 15px;
  padding-bottom: 25px;
  padding-right: 0px;
  padding-left: 0px;
}
/* line 271, input folder/homeworkStyles.scss */
body footer p {
  font-size: 1.2em;
  font-weight: normal;
  text-align: center;
}
