body{
	background: #f1f1f1;
}
ul{
	list-style: none;
	 padding-left: 0px;
}
#left, #right, #center{
	display: inline-block;
	float: left;
	padding: 8px;
}
#left{
	width: 15%;
	margin-left: 0px;
	padding-left:0px;
	text-align: left;
}
#left a{
	text-decoration: none;
	color:black;
}
#left h3{
	color: #900b09;
	margin: 0px;
	padding: 0px;
	font-size: 14px;
}
#center{
	width: 67%;
	border: 1px solid #808080;
	background: #ffffff;
}
#center h2{
	color:white;
	background:#808080;
	font-weight: normal;
	font-size: 20px;
	padding-left: 1px;
	margin-top:0px;
}
#center a{
	color: #900b09;
}
#right{
	text-align: center;
	width: 13%;
	margin-top:0px;
	padding-top:0px;
}
#center .nextPrev{
	border-bottom: 2px inset #808080;
	padding-bottom:6px;
	padding-top:8px;
}
#center .nextPrev:nth-of-type(2){
	border-bottom: 2px inset #808080;
	border-top: 2px outset #808080;
	margin-bottom: 40px;
}
#center img:nth-of-type(3){
	display: inline-block;
}
#center .cssAdd{
	display: inline-block;
	width: 50%;
	font-weight: bold;
	clear: both;
	padding:10px;
	padding-top:0px;
	margin-left:50px;
}
#center .mainArticles:nth-of-type(1) img{
	padding:15px;
	padding-top:0px;
	margin-left:20px;
}
#center .mainArticles{
	margin-top:5px;
}

#right .rightSide h2{
	color:white;
	background:#808080;
	font-weight: normal;
	font-size: 15px;
	padding-left: 1px;
	margin-top:0px;
}
#right .rightSide{
	font-size: 16px;
	border: 1px solid #808080;
	background: #ffffff;
	margin-bottom:2px;
	padding-bottom:7px;
}
#right .rightSide a{
	color: #900b09;
}